@font-face{
    font-family: Kanit-Black;
    src: url(font/Kanit/Kanit-Black.ttf);
}

@font-face{
    font-family: Kanit-Bold;
    src: url(font/Kanit/Kanit-Bold.ttf);
}

@font-face{
    font-family: Kanit-Medium;
    src: url(font/Kanit/Kanit-Medium.ttf);
}

@font-face{
    font-family: Kanit-Regular;
    src: url(font/Kanit/Kanit-Regular.ttf);
}

@font-face{
    font-family: Kanit-Light;
    src: url(font/Kanit/Kanit-Light.ttf);
}


body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background: url(image/BG-login.jpeg);
    background-repeat: no-repeat;
    background-position: -600px -510px;
    background-size: 3546px 2462px;
    display: flex;
}

.form-group {
    width: 896px;
    height: 110vh;
    margin: -1%;
    padding: 1%;
    opacity: 0.91;
    background: #9A0025;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    margin-top: 4vh;
}

.logo img{
    margin-top: 47px;
    max-width: 548px;
}

form {
    padding: 10px;
    width: 708px;
    height: 260px;
    margin: auto;
    margin-bottom: 5px;
    display: grid; 
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap: 30px;
    font-family: Kanit-Medium;
}

form * {
    font-family: Kanit-Regular;
}

.form-field {
    margin-top: 100px;
    margin-right: 30px;
}

.form-field h1 {
    font-family: Kanit-Regular;
    font-size: 40px;
    text-align: center;
    color: #FFD13F;
}

form label {
    margin: auto;
    font-size: 30px;   
    color: #FFD13F; 
    grid-column: 1;
}

form input {
    font-size: 20px;    
    border-radius: 13px;
    border-style: none;
    background: rgba(181, 185, 190, 0.3);
    padding-left: 20px;
    grid-column: 2 /span 6;
    color: #FFF;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

form button[type="submit"] {
    font-size: 20px;
    border-radius: 13px;
    border-style: none;
    background-color: #FFD13F;
    grid-column: 1 /span 6;
    grid-row: 3;
    
}

form button .button-text {
    font-family: Kanit-Medium;
    font-size: 25px;
    color: #BE4D00;
}

#result {
    text-align: center;
    grid-row: 4;
    grid-column: 1 /span 6;
    margin-top: -5px;
    font-size: 20px;
    color: #FFD13F;
}