@import url(color.css);

@import url(font.css);

body {
    font-family: Kanit-Regular, sans-serif;
    overflow: hidden;
}

h1 {
    margin-top: 60px;
    margin-top: 70vh;
    color: #fff !important;
    font-family: Kanit-Bold, sans-serif;
    font-size: 70px !important;
}

h6 {
    margin-top: 0px;
    margin-top: 0vh;
    color: #fff !important;
    font-family: Kanit-Bold, sans-serif;
    font-size: 30px !important;
}

.header {
    margin-left: 50px;
}

h2 {
    font-family: Kanit-Bold, sans-serif;
    color: white !important;
    padding: 20px;
}


