@import url(font.css);

/* Apply some basic styling to the body and header */
body {
    margin: 0;
    padding: 0;
}

.container h1 {
    font-family: 'Kanit-Bold', sans-serif !important;
    color: #fff !important;
    margin :30px !important;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 50px;
} 

.container h3 {
    font-family: 'Kanit-Bold', sans-serif !important;
    text-align: center;
    color: #fff;
}

/* Style the form and form elements */
form {
    font-family: 'Kanit-Light', sans-serif;
    padding: 20px;
    border-radius: 5px;
    /* Add rounded corners to the form */
}

form label {
    font-family: 'Kanit-Bold', sans-serif !important;
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 20px;
    color: #fff 
}

form input {
    background: rgba(181, 185, 190, 0.5);
    display: inline-block;
    width: 100%; /* คำนวณความกว้างให้แบ่งเท่าๆ กันและลดการชนกับ margin */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
        #date,#studentId,#tumbol,#amphur,#postalCode,#phone,#mobilePhone {
            width: calc(20% - 4px);
        }
        #studentFirstName,#lastname,#studentField,#advisor {
            width: calc(34% - 4px);
        }
        #studentYear {
            width: calc(10% - 4px);
        }
        #adressNumber,#moo {
            width: calc(15% - 4px);
        }
        #province {
            width: calc(30% - 4px);
        }

        
/* เพิ่ม ถอน */ 
        #add_courses {
            width: calc(15% - 4px);
        }
        #drop_courses {
            width: calc(15% - 4px);
        }

form select {
    display: inline-block;
    width: calc(10% - 4px);
    margin-bottom: 10px;
    padding: 8px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button, select {
    background: rgba(181, 185, 190, 0.5);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

/* Style the button */
form button[type="submit"] {
    font-size: 20px;
    border-radius: 13px;
    border-style: none;
    background-color: #FFD13F;
    width: 100%;
    margin: 30px 0;
    font-family: Kanit-Bold;
    color: rgba(154, 0, 37, 1);
}


/* Style the result div */
#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

/* Style for the grid container */
.subject-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    /* Adjust the number of columns and the minimum size as needed */
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* Adjust the minimum row size as needed */
}

/* Style for each subject group */
.subject-group {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.container {
    max-width: 75%;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px !important;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    /* ปรับความสูงให้พอดีกับเนื้อหา */
    display: flex; 
    /* ใช้ Flexbox */
    flex-direction: column;
    /* ตั้งค่าให้เรียงเนื้อหาใน container เป็นแนวตั้ง */
    justify-content: center;
    /* จัดเนื้อหาตรงกลางแนวตั้ง */
    align-items: center;
    /* จัดเนื้อหาตรงกลางแนวนอน */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; 
    /* เพิ่มบรรทัดนี้ */
}